.card {
  display: grid;
  place-items: center;
}

.card input:focus {
  box-shadow: none;
}

.subContainer {
  min-width: 450px;
  margin-top: -100px;
  position: relative;
}

@media (max-width: 700px) {
  .FormPage {
    justify-content: center;
    align-items: center;
  }

  .largScreenImg {
    display: none !important;
  }
}

@media (max-width: 500px) {
  .card {
    font-size: 15px;
  }
  .card input {
    font-size: 13px;
  }
}

@media (max-width: 400px) {
  .card {
    width: 300px !important;
  }

  .FormPage .subContainer {
    min-width: auto !important;
  }
}
.form-container {
  /* backgroundcolor: ""; */
  height: "100vh";
  display: "flex";
}
