.img-container {
  background-color: #cccccc;
  width: 75px;
  border-radius: 50%;
  height: 75px;
  cursor: pointer;
}

.img-container img {
  width: 70px;
  height: 70px;
  object-fit: cover;
}

.main-container .side1 {
  position: relative;
}

.main-container .side1::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.39);
}

.side1 form {
  font-size: 15px;
}

.select-code {
  width: fit-content;
}

.submit-container button {
  transition: background 0.2s ease-in-out;
  background-color: rgb(25, 85, 148);
}

.submit-btn:hover {
  background-color: royalblue;
}

.change-message {
  background-color: rgba(5, 226, 5, 0.372);
  width: fit-content;
  padding: 10px;
  border-radius: 8px;
  border: solid 1px rgb(60, 255, 0);
}

@media (max-width: 1000px) {
  .main-container {
    overflow: auto !important;
    height: auto;
    flex-direction: column !important;
  }
  .main-container input {
    width: 100% !important;
  }
  .side1,
  .side2 {
    margin: 10px 0 !important;
  }

  .side1::after {
    display: none;
  }
  .img-container {
    width: 60px;
    height: 60px;
  }

  .img-container img {
    width: 55px;
    height: 55px;
  }
  .change-message {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    width: 100%;
    transform: translate(-50%, -50%);
    background-color: rgb(5, 226, 5);
  }
}
