.chat-container {
  flex: 1;
  background-color: rgb(
    255,
    255,
    255
  );
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* .chat-container form {
  margin-bottom: 30px;
  position: relative;
} */

.chat-container
  form
  input {
  padding-left: 50px;
  border-radius: 999px
    0px
    0px
    999px !important;
}

.chat-container
  button {
  width: 5%;
}

.chat-container
  button:hover {
  background-color: rgb(
    25,
    85,
    148
  ) !important;
}

.chat-container
  form
  img {
  position: absolute;
  top: 50%;
  transform: translate(
    10px,
    -50%
  );
  width: 25px;
  height: 25px;
  z-index: 10;
}

.chat-container
  form
  svg {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  right: 10px;
  cursor: pointer;
  transform: translateY(
    -50%
  );
}

.display-block {
  display: block;
}

@media only screen and (min-width: 0px) and (max-width: 999px) {
  .chat-container {
    background-color: #fafafa;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 19px 10px rgba(0,0,0,0.1);
    position: relative;
  }
}

/* ============ Start Chat Header ============ */
.chat-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 76px;
  border-bottom: 1px solid#eff1f2;
  padding: 0 20px;
}

.chat-header
  .back {
  display: none;
  background-color: #eff1f200;
}

@media only screen and (min-width: 0px) and (max-width: 999px) {
  .chat-header {
    border-bottom: 2px solid#eff1f2;
  }

  .chat-header .back {
    display: block;
    background-color: #eff1f200;
  }
}

.person-info-holder {
  display: flex;
}

.person-info-holder
  .person-info {
  margin-left: 10px;
  padding-top: 3px;
}

.person-info-holder
  .person-info
  span:nth-child(
    1
  ) {
  display: block;
  font-size: 40px;
  text-transform: capitalize;
  font-weight: 600;
  letter-spacing: 1px;
}

.person-info-holder
  .person-info
  span:nth-child(
    2
  ) {
  display: block;
  font-size: 14px;
  font-weight: 500;
  margin-top: -4px;
}

@media only screen and (min-width: 0px) and (max-width: 999px) {
  .person-info-holder
    .person-info
    span {
    text-align: center;
  }
}

.image-style {
  width: 55px;
  height: 55px;
}

@media only screen and (min-width: 0px) and (max-width: 999px) {
  .image-style {
    display: none;
  }
}

.chat-content {
  position: relative;
  min-height: calc(100vh -76px);
  overflow-y: scroll;
  width: 100%;
  box-sizing: border-box;
  padding: 0
    20px;
}

.chat-content::-webkit-scrollbar {
  /* width: 10px; */
  display: none;
}
/* 
.chat-content::-webkit-scrollbar-thumb {
  background-color: rgb(25, 85, 148);
    border-radius: 9px;
}

.chat-content::-webkit-scrollbar-track {
  background-color: rgb(211, 211, 211);
    border-radius: 9px;
} */

/* ============ End Chat Header ============ */
