.friends-container {
  flex-direction: column;
  padding: 10px;
  width: 300px;
  background-color: rgb(220, 222, 225);
  border-radius: 20px 0px 0px 0px;
}

.friends-container ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: flex-start;
  gap: 10px;
}
