*,
*::after,
*::before {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}
/* <spline-viewer url='https://prod.spline.design/Mto4n348N2Uebs8j/scene.splinecode'></spline-viewer> */
