*,
*::after,
*::before {
  box-sizing: border-box;
}

h1 {
  font-size: 100px;
}

body {
  overflow: hidden;
}
/* <spline-viewer url='https://prod.spline.design/Mto4n348N2Uebs8j/scene.splinecode'></spline-viewer> */
